<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  
  <link rel="stylesheet" href="./assets/style/all.css">

  <link href="https://fonts.googleapis.com/css?family=Material+Icons%7CMaterial+Icons+Outlined%7CMaterial+Icons+Two+Tone%7CMaterial+Icons+Round%7CMaterial+Icons+Sharp" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700;900&display=swap" rel="stylesheet">
</head>

<body>
  <nav class="d-flex">
    <div class="logo">
      <a href="index.html">logo</a>
    </div>
    <ul class="d-flex">
      <li><a href="#" class="pr-4 pl-4">系列鏡框</a></li>
      <li><a href="#" class="pr-4 pl-4">門市據點</a></li>
      <li><a href="#" class="pr-4 pl-4">部落格</a></li>
      <li><a href="#" class="pl-4">常見問題</a></li>
    </ul>
  </nav>

  <%- contents %>

  <footer class="footer">
    <div class="container">
      <div class="footerNav d-flex">
        <ul class="footerItem d-flex">
          <li><a href="#">首頁</a></li>
          <li><a href="#">系列鏡框</a></li>
          <li><a href="#">門市據點</a></li>
          <li><a href="#">部落格</a></li>
          <li><a href="#">常見問題</a></li>
        </ul>
        <ul class="socialMedia d-flex">
          <li class="fb"><a href=""><img src="assets/images/svg/icon-fb.svg"></a></li>
          <li class="ig"><a href=""><img src="assets/images/svg/icon-ig.svg"></a></li>
          <li class="line"><a href=""><img src="assets/images/svg/icon-line.svg"></a></li>
        </ul>
      </div>
      <ul class="contact">
        <li class="phone mb-2"><img src="assets/images/svg/icon-phone.svg" ><a href="tel:+886912345678">0800-000-000</a></li>
        <li class="email mb-3"><img src="assets/images/svg/icon-mail.svg"><a href="Mailto:glasses@business.com">glasses@business.com</a></li>
      </ul>
      <hr class="mb-4">
      <div class="right d-flex">
        <div>Copyright © 2020 Glasses.All rights reserved.</div>
        <ul class="d-flex">
          <li><a href="#">隱私權政策</a></li>
          <li class="ml-6"><a href="#">服務條款</a></li>
        </ul>
      </div>
    </div>
    
    
  </footer>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>
