$primary:#AA0601;
$secondary:#5F3E2D;
$success:#B75929;
$light:#FBF2F2;
$dark:#111619;

$main: #650300;

$font-xs: 16px;
$font-s: $font-xs * 1.25; 
$font-m: $font-xs * 1.5;
$font-l: $font-xs * 2;
$font-xl: $font-xs * 3;

$mr-1: 8px;
$mr-2: $mr-1 * 2;
$mr-3: $mr-1 * 3;
$mr-4: $mr-1 * 4;
$mr-5: $mr-1 * 5;
$mr-6: $mr-1 * 6;
